.footer {
  margin-top: -8vw;
    padding-top: 10vw;
    padding-bottom: 30px;
    background: #bad1c9;
  }
 
  .delivery__time-item {
    background: transparent !important;
   
  }
  
  .delivery__time-item span {
    font-weight: 700;
    font-size: 1rem;
    color: brown;
  
  }
  
  .delivery__time-item p {
    color: #212245;
    font-weight: 600;
    
  }
  .footer__title {
    font-size: 1.1rem;
    color: brown;
    font-weight: 600;
    margin-top: 3vw;
  }
  
  .newsletter {
    padding: 10px;
   
    border: 1px solid #212245;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .newsletter input {
    background: transparent;
    border: none;
    outline: none;
  
  }
  
  .newsletter input:focus {
    outline: none;
  }
  
  .newsletter span {
    background: brown;
    padding: 5px 30px;
    border-radius: 5px;
  }
  .invite{
    padding-bottom: 7px;
    padding-top: 5px;
  }
  .newsletter span i {
    color: #fff;
  }
  
  .newsletter input::placeholder {
    color: #212245;
  }
  
 


 @media screen and (min-width: 1000px) and (max-width: 1980px) {

  .footer {
    margin-top: -6vw;
      padding-top: 10vw;
      padding-bottom: 30px;
      background: #bad1c9;
    }
   
    .delivery__time-item {
      background: transparent !important;
     
    }
    
    .delivery__time-item span {
      font-weight: 700;
      font-size: 1rem;
      color: brown;
    
    }
    
    .delivery__time-item p {
      color: #212245;
      font-weight: 600;
      
    }
    .footer__title {
      font-size: 1.1rem;
      color: brown;
      font-weight: 600;
      margin-top: 3vw;
    }
  
    .newsletter {
      padding: 10px;
     
      border: 1px solid #212245;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
    .newsletter input {
      background: transparent;
      border: none;
      outline: none;

    }
    
    .newsletter input:focus {
      outline: none;
    }
    

    .invite{
      padding-bottom: 7px;
      padding-top: 5px;
    }
    .newsletter span i {
      color: #fff;
    }
    
    .newsletter input::placeholder {
      color: #212245;
    }
    

  }



  @media only screen and (max-width: 576px) {

  .footer {
    margin-top: -12vw;
      padding-top: 10vw;
      padding-bottom: 30px;
      background: #bad1c9;
    }
  
  }